<% count = 0 %>

<% for i in 1..4 %>
  <ul>
   <%=@jo[i].description %>
   <% @jo[i].users.each do |u| %>
      <% count += 1 %>
     <% if u.leader %>
       <li> <strong><span style= "color: brown;"><%= u.name%></span></strong> <----- 조장  </li>
     <% else %>
       <li> <%= u.name%> </li>
     <% end %>
   <%end%>
  </ul>
<%end%>

<li> total_count : <%=count %></li>

<%= link_to '돌아가기', shuffle_destroy_path, method: :delete, data: { confirm: '조 변경사항은 저장되지않습니다.' } %> </br>
<%= link_to '조 다시 짜기', shuffle_shuffle_path, method: :get, data: { confirm: '조 변경사항은 저장되지않습니다.' } %> </br>
</br>
<strong> <%= link_to 'send to slack', shuffle_sendslack_path, method: :post, data: { confirm: '신중하게보내라..'} %> </strong>